body{
	background-color: rgb(52,235,222);
}
.btn{
	background-color: rgb(235,219,59);
	margin: 6px 3px;
	padding: 10px 20px;
	border:solid black;
	text-align: center;
}
fieldset{
	display: solid black;
}
.hr{
	background-color: black;
	width:50%;
	margin-bottom:2%;
}